*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9e9e9;
}

/*HEADER*/
header{
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding-inline: 200px;
    padding-block: 20px;
    transition: left 2s ease-in-out;
}
/*IMAGEN*/
.logo{
   padding: 0;
   max-width: 20rem;
}


/*NAV*/
nav{
    width: 100%;
    transition: right 2s ease-in-out;
}

/*UL*/

ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
}
button{
    border: none;
    border-radius: 100vmax;
    padding: 10px 20px;
    box-shadow: 0 5px 5px black;
    text-align: center;
    text-transform: lowercase;
    color: #e9e9e9;
    font-weight: bolder;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
li{
    height: 60px;
}
button:hover{
    font-size: 1.2rem;
    background-color: #ba3fc3;
    transition: .5s ease all;
}

/*MENU*/
.open_menu{
   order: 1;
}
.open_menu, .close_menu ,#check{
    display: none;
}




#normal{
    background-color: rgb(231, 178, 140);
    color: #e9e9e9;
}
#electric{
    background-color:rgb(220, 196, 61);
    color: #ffffff;
    
}
#dark{
    background-color: #121212;
    color: #e9e9e9;
  
}
#rock{
    background-color: #acaca7;
    color: #e9e9e9;
   
}
#fire{
    background-color: #d35721;
    color: #e9e9e9;
   
}
#grass{
    background-color: #56b759;
    color: #e9e9e9;
   
}
#water{
    background-color: #75aed4;
    color: #e9e9e9;
}

#poison{
    background-color: #9547a3;
    color: #e9e9e9;
}

#flying{
    background-color: #8389d7;
    color: #e9e9e9;
}
#bug{
    background-color: #83c08e;
    color: #e9e9e9;
}
#ground{
    background-color: #af8670;
    color: #e9e9e9;
}

#fairy{
    background-color: #e090b6;
    color: #e9e9e9;
}

#fighting{
    background-color: #625c5f;
    color: #e9e9e9;
}

#psychic{
    background-color: #ad8d09;
    color: #e9e9e9;
}
#steel{
    background-color: #32312a;
    color: #e9e9e9;
}
#ice{
    background-color: #134270;
    color: #e9e9e9;
}
#ghost{
    background-color: #3d0338;
    color: #e9e9e9;
}
#dragon{
    background-color: #bc3e46;
    color: #e9e9e9;
}
/*estilo a la caja de pokemon*/
main{
    display: flex;
    justify-content: center;
    padding-inline:200px;
    padding-block: 50px;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  
}

/*---
.contenedor{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 200px;
}--*/

.pokemons{
    flex: 1;
    width: 230px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(81, 79, 79,20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    position: relative;
    isolation: isolate;
    
}
.poke-image{
    width: 100%;
}
.poke-imagen img{
    max-width: 100px;
}
.poke-id{
    display: flex;
    align-items:end;
    gap: 10px;
}
.poke-typs{
    margin-top: 5px;
    display: flex;
    gap: 10px;
}
p{
    max-width: auto;
    font-size: .8rem;
    background-color: rgb(230, 230, 230);
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
}
.nombre{
    font-size: 1.5rem;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.poke-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}
.tipo-planta-info{
    background-color: #56b759;
    border-radius: 20px;
    padding: 3px 15px;
    color: #e9e9e9;
    font-weight: bold;
}
.tipo-agua-info{
    background-color: #b03bbb;
    border-radius: 20px;
    padding: 3px 15px;
    color: #e9dfdf;
    font-weight: bold;
}

.poke-numero-id{
    position: absolute;
    top: 0;
    z-index: -1;
    font-size: 8rem;
    font-weight: bolder;
    text-align: center;
    color: #ede3e3;
}

.pokemons:hover{
    background-color: #d18abc;
}

/*RESPONSIVE*/

@media(max-width:768px){

    header{
       flex-direction: row;
       justify-content: center;
       gap: 20px;
    }
    .logo{
        width: 100px;
    }

    .open_menu,.close_menu{
        display: block;
        font-size: 2rem;
        color: #ffffff;
    }

    .open_menu:hover,.close_menu:hover{
        color: #ba3fc3;
    }

    .close_menu{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100vw;
        background-color: #134270;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        justify-content: center;
        padding: 50px;
    }

    #check:checked ~ nav {
        right: 0;
    }
}

@media(max-width:415px){
    header{
        width: auto;
        padding-inline: 50px;
    }
    main{
        padding: 20px 0px;
    }
}